<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-card class="flex flex-col items-center sm:py-6">
    <ion-card-header>
      <ion-card-title>Welcome to Poker Game</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br />
      Hi, this is a poker simulating application developed by Homin Lee.
      <br />
      <br />
      You can select number of players and start to see the winner and result.
      <br />
      <br />
      If you would like to take a look at the source code, please visit my
      GitHub Repository via the buttons below.
    </ion-card-content>

    <ion-button fill="clear">
      <a href="https://github.com/minthehouse/pokerGame"
        >Go to GitHub Repository</a
      >
    </ion-button>
  </ion-card>
  <form
    [formGroup]="form"
    #ngForm="ngForm"
    (ngSubmit)="submit(ngForm)"
    novalidate
    class="sm:py-6"
  >
    <ion-row>
      <ion-col class="flex flex-col gap-3 sm:gap-5">
        <ion-label class="flex justify-center font-medium"
          >Please select number of players</ion-label
        >
        <ion-list class="flex justify-center items-center">
          <ion-item>
            <ion-select
              formControlName="number_of_players"
              interface="popover"
              placeholder="Select Number of Players"
            >
              <ion-select-option
                *ngFor="let i of [2, 3, 4, 5, 6, 7, 8]"
                [value]="i"
              >
                {{ i }} players
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div
          *ngIf="ngForm.submitted && form.get('number_of_players')?.hasError('required')"
          class="text-red-500 flex justify-center"
        >
          Number of players is required.
        </div>
        <ion-button type="submit"> Start Game</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
